<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="mx-auto" style="width: 400px;">
        <div class="container-md">
            <div class="p-2 text-dark">
                <div class="position-relative">
                    <div class="text-center">
                        <h4 class="border border-dark">접근 권한이 없습니다.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</body>
</html>